<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ data.question }}</h5>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Option 1
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
      <label class="form-check-label" for="flexCheckChecked">
        Option 2
      </label>
    </div>
  </div>
</div>
<br>
